a:link, a:visited ,nav{ 
    background-color: #848686; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
 }
 a:link{
    padding: 10px 25px; 
    text-align: center; 
    
 } 
 a:hover, a:active {
    background-color: #BD9696;
 }